body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: orange;
    background-image: linear-gradient(to right, orange, purple);
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
}

header a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 1;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

.brandlogo {
    padding: 0.1rem;
}

.pages {
    padding: 0rem 0rem 0rem 1rem;
}

.githublogo {
    float: right;
    padding-right: 2rem;
}


.githublogo > img {
    height: 2rem;
    margin-top: 0.35rem;
}

.githublogo > img {
    height: 2rem;
    margin-top: 0.35rem;
}

.logo {
    margin-left: 1rem;
    margin-top: 5px;
    height: 2rem;
}

.content {
    padding: 1rem 0rem 5rem 0rem;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, orange, purple);
}

.moreBtn {
    color: white;
    text-decoration: none;
    border: solid 1px white;
    padding: 0.5rem;
}
