body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: orange;
    background-image: linear-gradient(to right, orange, purple);
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 1;
    vertical-align: middle;
}

.head-of-page-text {
    font-size: 1.5rem;
}

.head-of-page-description {
    line-break: loose;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.works ul {
    display: table;
    margin: auto;
    justify-content: center;
}

.works li {
    text-align: center;
    display: table;
    float: left;
    margin: 1rem;
}

.works li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    color: black;
}

.works li .work-description {
    margin: 0.5rem;
    width: 16rem;
}
.works li .work-technology {
    font-style: italic;
}

.brandlogo {
    padding: 0.1rem;
}

.pages {
    padding: 0rem 0rem 0rem 1rem;
}

.githublogo {
    float: right;
    padding-right: 2rem;
}


.githublogo > img {
    height: 2rem;
    margin-top: 0.35rem;
}

.githublogo > img {
    height: 2rem;
    margin-top: 0.35rem;
}

.logo {
    margin-left: 1rem;
    margin-top: 5px;
    height: 2rem;
}

.kontakt {
    clear: both;
    box-sizing: border-box;
}

.kontakt-description {
    text-align: center;
}

section {
    margin: 2rem;
}

section h1 {
    margin: 1rem 0;
}

.head-of-page {
    padding: 1rem 0rem 3rem 0rem;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, orange, purple);
}

.head-of-page-logo {
    height: 4rem;
}

.moreBtn {
    color: white;
    text-decoration: none;
    border: solid 1px white;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
}

.moreBtn:hover {
    font-weight: 500;
    transition-duration: 0.3s;
    background-color: white;
    color: purple;
}

.team {
    display: table;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.team-member {
    float: left;
    margin: 0 3rem;
    height: 17rem;
}

.team-member .name {
    font-size: 25px;
    font-weight: 500;
}

.team-member .role {
    margin: 0.5rem 0;
}

.mail a {
    text-decoration: none;
    font-size: 10px;
    color: gray;
}

.photo > img {
    height: 10rem;
    border-radius: 50%;
}

footer {
    margin: 2rem;
    text-align: center;
    box-sizing: border-box;
}


